<div class="container">
  <div class="jumbotron">
    <h1><%= @track.title %></h1>
  </div>
  <div class="page-header">
    <h2><strong><%= @track.author %></strong></h2>
  </div>

  <p>
    <div class="embed-responsive embed-responsive-4by3">
      <%= @track_embed = /=(.*)$/.match(@track.URL)[1] %>
      <iframe class="embed-responsive-item" width="560" height="315" src="//www.youtube.com/embed/<%= @track_embed %>" frameborder="0" allowfullscreen></iframe>
    </div>
  </p>

  <hr/>
  <div class="page-header">
  <h2><a href="/tracks">Back to All Tracks</a></h2>
  </div>
</div>