<h1><%= @track.title %></h1>

<p>
  Author: <%= @track.author %>
</p>

<p>
  Title: <%= @track.title %>
</p>

<p>
  <a href="<%= @track.URL %>">Youtube</a>
</p>

<hr/>
<a href="/tracks">Back to All Tracks</a>