body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.track {
  padding-bottom: 70px;
}

.page-header h2 {
  padding-bottom: 30px;
}

.fluid-container {
  padding-left: 20%;
  padding-right: 20%;
}

.arrow.up {
    background: url(https://www.redditstatic.com/sprite-reddit.ZDiVRxCXXWg.png);
    background-position: -42px -865px;
    background-repeat: no-repeat;
}

.arrow.up:target {
  background-position: -63px -865px;
}

.arrow.down {
    background: url(https://www.redditstatic.com/sprite-reddit.ZDiVRxCXXWg.png);
    background-position: 0px -865px;
    background-repeat: no-repeat;
}

.arrow {
    border: none;
    margin: 2px 0px 0px 0px;
    width: 100%;
    height: 14px;
    display: block;
    cursor: pointer;
    background-position: center center;
    background-repeat: no-repeat;
    width: 15px;
    margin-left: auto;
    margin-right: auto;
    outline: none;
}

.score.likes {
    display: block;
    text-align: center;
    color: #c6c6c6;
}