<div class="container">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Music Wall</a>
      </div>
      <div class="nav navbar-nav navbar-right nav-pills">
        <% if current_user %>
        <span>Hi <%= current_user.name %>!</span>
        <% end %>
        <li role="presentation"><a href="/tracks">Tracks</a>
        </li>
        <li role="presentation"><a href="/tracks/form">Submission</a></li>
        <% unless current_user %>
        <li role="presentation" class="active"><a href="/users/login">Log In</a></li>
        <% end %>
        <% unless current_user %>
        <li role="presentation"><a href="/users/signup">Sign Up</a></li>
        <% end %>
        <% if current_user %>
        <li role="presentation"><a href="/users/logout">Log Out</a></li>
        <% end %>
      </div>
    </div>
  </nav>

  <div class="jumbotron text-center">
    <h1>Log In</h1>
  </div>
  <hr/>

  <div class="fluid-container">
    <form method="post" action="/users/login">

      <div class="form-group">
        <h3><label class="label label-info">Username</label></h3>
        <input type="text" class="form-control" placeholder="username" name="name">
      </div>

      <div class="form-group">
        <h3><label class="label label-info">Password</label></h3>
        <input type="text" class="form-control" placeholder="******" name="password">
      </div>

      <div>
        <input type="submit" class="btn btn-primary btn-lg center-block" value="Log In">
      </div>

    </form>
  </div>
</div>